<div class="container">
  <h1>Github Gist Tool</h1>
  <mat-divider></mat-divider>

  <div class="search">
    <mat-form-field
      appearance="fill"
      class="searchbar"
      (keyup.enter)="onSearch()"
    >
      <mat-label>Search by username</mat-label>
      <input matInput type="text" [(ngModel)]="username" />
      <button
        *ngIf="username"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="onClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button
      [disabled]="username === ''"
      class="searchbutton"
      mat-mini-fab
      color="primary"
      (click)="onSearch()"
    >
      <mat-icon>search</mat-icon>
    </button>

  </div>
</div>

<div *ngIf="gistsNb === 0" class="container">
  <mat-card>
    <mat-card-title class="alert">Alert</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content><h3>No gists were found for this user</h3></mat-card-content>
  </mat-card>
</div>

<div *ngIf="error" class="container">
  <mat-card>
    <mat-card-title class="alert">Alert</mat-card-title>
    <mat-divider inset></mat-divider>
    <mat-card-content><h3>User not found</h3></mat-card-content>
  </mat-card>
</div>

<ul>
  <li *ngFor="let gist of gists; index as i">
    <app-gist [gist]="gist" [index]="i + 1"></app-gist>
  </li>
</ul>
