.container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
}

.mat-divider {
  border-top-color: #3f51b5;
}

.mat-card-title {
  font-size: large;
}

.fork {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.avatar {
  margin-top: 5px;
}

.section {
    font-weight: bold;
}

.left-spacer {
    margin-left: 10px;
}

.top-spacer {
    margin-top: 10px;
}